body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.change-btn{
  width: 25px;
  height: 25px;
  background: #dfded8;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  user-select: none;
  cursor: pointer;
  &:hover{
    background: #ecebe6;
  }
}
.navigation{
  position: absolute;
  bottom: 0px;
  left:60%;
  z-index: 1000;
}

.disable{
  // display: none;
  color: #dfded800;
}